In [14]:
# Este sinal serve pra comemtar um código para que o usuário saiba o que esse código faz

"""
Usando 3 aspas podemos
comentar varias linhas
assim quando o código for executado o script
pula essas linhas
"""

print("Script executado com sucesso")

Script executado com sucesso

In [29]:
inteiro = 42
print("Inteiro: ", inteiro)

flutuante = 42.12
print("Flutuante: ", flutuante)

complexo = 3 + 4j
print("Complexo: ", complexo)

texto = "Olá mundo"
print("Texto: ", texto)

listas = [1,2,3] # ordenada e mutavel
print("Listas: ", listas)

tuplas = (1,2,3,4,5) #ordenada imutavel
print("Tupla: ", tuplas)

conjunto = {1,2,3,3} # nao ordenada de itens unicos, não se repetem
print("Conjunto: ", conjunto)

dicionario = {"chave" : "valor"} # nao ordenada chave e valor
print("Dicionario: ", dicionario)

booleano = True
print("Boolenaos: ", booleano)

nenhum = None # ausência de valor
print("NoneType None: ", nenhum)

Inteiro:  42
Flutuante:  42.12
Complexo:  (3+4j)
Texto:  Olá mundo
Listas:  [1, 2, 3]
Tupla:  (1, 2, 3, 4, 5)
Conjunto:  {1, 2, 3}
Dicionario:  {'chave': 'valor'}
Boolenaos:  True
NoneType None:  None

In [31]:
# Variavel
idade = 30
nome = "Nicole"

print("Nome: ", nome, " idade: ", idade, " anos")

Nome:  Nicole  idade:  30  anos

In [35]:
# Obter o tipo de variavel
nome = "Ana Paula"
idade = 31
idade2 = str(31) #cast
print(type(nome))
print(type(idade))
print(type(idade2))

<class 'str'>
<class 'int'>
<class 'str'>

In [39]:
i =  30
I = "Ana"
print(i)
print(I)

30
Ana

In [2]:
var1, var2, var3, var4 = "Texto 1","Texto 2","Texto 3","Texto 4"

print(var1)
print(var2)
print(var3)
print(var4)

Texto 1
Texto 2
Texto 3
Texto 4

In [5]:
var1 = var2 = var3 = var4 = "Ana Paula"

print(var1)
print(var2)
print(var3)
print(var4)

Ana Paula
Ana Paula
Ana Paula
Ana Paula

In [8]:
exemplo = "Texto 1","Texto 2","Texto 3","Texto 4"
var1,var2,var3,var4 = exemplo
print(var1)
print(var2)
print(var3)
print(var4)

Texto 1
Texto 2
Texto 3
Texto 4

In [15]:
nome = "Ana paula"

# print("O nome dela é "+ 10) com o simbolo + não aceita numero
print("O nome dela é "+ nome)

O nome dela é Ana paula

In [18]:
numero1 = "Dez"
numero2 = "Cinco"

print(numero1 + numero2)

DezCinco

In [22]:
nome = "Thuanne"
sobrenome = "Alves"

print("Nome Completo "+ nome + " " + sobrenome)

Nome Completo Thuanne Alves

In [24]:
# Exercícios de variáveis em python

# 1- declare uma variavel chamada idade e atribua o valor 25 a ela

idade = 25

# 2 - declare uma variavel chamada nome e atribua o valor João a ela

nome = "João"

# 3 - declare uma variavel chamada saldo e atribua um valor 100.50 a ela

saldo = 100.50

# 4 - declare uma variavel soma saldo e atribua a ela a soma das variaveis idade e saldo

soma = idade + saldo

# 5 - Imprima o valor da variável soma

print("Soma: ", soma)

Soma:  125.5

In [28]:
# 1 - crie uma variavel chamada nota1 e atribua o valor 7.5

nota1 = 7.5

# 2 - crie uma variavel chamada nota2 e atribua o valor 8.3

nota2 = 8.3

# 3 - crie uma variavel chamada nota3 e atribua o valor 6.9

nota3 = 6.9

# 4 - Calcule a media das tres notas e atribua o resultado a variável media

media = (nota1 + nota2+ nota3) /  3

# 5 - Imprima na tela o valor da media com duas casa decimais

print("Media: ", format(media, ".2f"))

Media:  7.57