In [4]:
nome = input("Digite seu nome: ")

print("O seu nome é: ", nome)

O seu nome é:  sda

In [7]:
nome = input("Digite seu nome: ")
nota1 = float(input("Digite a nota 1: "))
nota2 = float(input("Digite a nota 2: "))
media = (nota1 + nota2) / 2

print("Aluno: ", nome, " Media: ", media)

ValueError: could not convert string to float: ''

In [11]:
numero = int(input("A tabuada de qual número que você deseja ver? "))

print(numero, "* 1 = ", numero * 1)
print(numero, "* 2 = ", numero * 2)
print(numero, "* 3 = ", numero * 3)
print(numero, "* 4 = ", numero * 4)
print(numero, "* 5 = ", numero * 5)
print(numero, "* 6 = ", numero * 6)
print(numero, "* 7 = ", numero * 7)
print(numero, "* 8 = ", numero * 8)
print(numero, "* 9 = ", numero * 9)
print(numero, "* 10 = ",numero * 10)

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30

In [13]:
ano_atual = 2023
ano_nascimento = int(input("Digite o ano de nascimento: "))

idade = ano_atual - ano_nascimento

print("A sua idade é:", idade)

A sua idade é: 23