Metodos de lista
sort(): ordena a lista in-place
reverse(): inverte a ordem dos elementos in-place
count(): conta o numero de ocorrencias de um elemento
index() retorna o índice da primeira ocorrência de um elemento

In [9]:
numeros = [23, 1, 45, 6, 12]
frutas = ["banana", "maça", "banana", "cereja", "maça", "damasco"]

# sort
print(numeros)
numeros.sort()
print(numeros)
numeros.sort(reverse=True) # ordem decrescente
print(numeros)
print()

print(frutas)
frutas.sort()
print(frutas)
print()

# reverse
numeros.reverse()
print(numeros)

frutas.reverse()
print(frutas)

[23, 1, 45, 6, 12]
[1, 6, 12, 23, 45]
[45, 23, 12, 6, 1]

['banana', 'maça', 'banana', 'cereja', 'maça', 'damasco']
['banana', 'banana', 'cereja', 'damasco', 'maça', 'maça']

[1, 6, 12, 23, 45]
['maça', 'maça', 'damasco', 'cereja', 'banana', 'banana']

In [11]:
#count
ocorrencias_banana = frutas.count("banana")
print(ocorrencias_banana)

ocorrencias_numero_6 = numeros.count(6)
print(ocorrencias_numero_6)

2
1

In [13]:
# index
indice_banana = frutas.index("banana")
print(indice_banana)

indice_23 = numeros.index(23)
print(indice_23)

4
3

Exercício

In [24]:
valores = [23, 11, 89, 34, 11, 56, 78, 90, 23, 45]
# ordernar em ordem crescente
valores.sort()
print(valores)
# inverter a lista
valores.reverse()
print(valores)
# qts vezes o numero 11 aparece na lista
numero_11 = valores.count(11)
print(numero_11)
indice_78 = valores.index(78)
print(indice_78)
try:    
    indice_nao_existe = numeros.index(100)
    print(indice_nao_existe)
except ValueError:
    print("O numero nao está na lista!")

[11, 11, 23, 23, 34, 45, 56, 78, 89, 90]
[90, 89, 78, 56, 45, 34, 23, 23, 11, 11]
2
2
O numero nao está na lista!