In [ ]:
"""
Operações com tuplas:
 Concatenção : (1,2) + (3, 4)
 Repetiçãio: (1,2) * 3
 verificar se um elemento esta na tupla: 2 in (1,2,3)
"""

In [4]:
# Planejamento de viagem
# 1. Concatenação de tuplas - adicionando destino as viagens
primeira_cidades = (1, 2)
proximas_cidades = (3, 4)

roteiro_de_viagem = primeira_cidades + proximas_cidades
print(roteiro_de_viagem)

# 2. repetição - vsitando algumas cidades mais de uma vez
cidades_favoritas = (1, 2)
roteiro_repetido  = cidades_favoritas * 3
print(roteiro_repetido)

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

In [9]:
# 3. verificar se uma cidade esta no seu roteiro
roteiro_total = (1, 2, 3, 4, 1, 2, 1, 2)
cidade_inclusa = 2 in roteiro_total
print(cidade_inclusa)

True

Exercicio Manipulando sequencia de números

In [13]:
A = (1, 2)
print(A)
B = (3, 4)
print(B)
C = A + B
print(C)
D = A * 3
print(D)
E = 2 in (1, 2, 3, 4, 1, 2, 1, 2)
print(E)

(1, 2)
(3, 4)
(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)
True